import os
from cs50 import SQL
import spotipy
import spotipy.util as util
from spotipy.oauth2 import SpotifyOAuth, SpotifyClientCredentials
from flask import Flask, render_template, redirect, request, session, make_response,session,redirect
from flask_session import Session
import requests
import time
import threading

# Install spotipyi
-pip install spotipy

# Enter your own client_id, client_secret and redirect_uri information, then export them in terminal.
-export SPOTIPY_CLIENT_ID='client_id'
-export SPOTIPY_CLIENT_SECRET='secret_id'
-export SPOTIPY_REDIRECT_URI='redirect_uri'
